<nav>
  <div class="nav-inner">
    <span class="nav-brand">✓ <em>My Tasks</em></span>
    <ul>
      <li><a href="/">Task List</a></li>
      <li><a href="/add">Add Task</a></li>
      <li><a href="/logout" class="nav-logout">Logout</a></li>
    </ul>
  </div>
</nav>
