<nav>
    <ul>
        <li>
            <a href ="/">Task List</a>
        </li>

        <li>
            <a href ="/add">Add Task</a>
        </li>

        <li>
            <a href="/logout">Logout</a>
        </li>

        
    </ul>
</nav>